@import '../../../assets/styles/variables.scss';

$width: 100%/$years;

.year-navigator {
  ul {
    width: 750px;
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    margin: auto;
  
    li {
      flex: 0 0 $width;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
  
      &.active p {
        position: relative;
        z-index: 2;
        color: $light;
        transition: all 0.8s ease;
      }
  
      &:last-child {
        &::after {
          content: "";
          width: $width;
          height: 100%;
          display: block;
          position: absolute;
          background: $primary;
          top: 0;
          bottom: 0;
          left: 0;
          border-radius: 0.25rem;
          z-index: 1;
          transition: left 0.8s ease;
        }
  
        &.active {
          &::after {
            left: 80%;
          }
        }
      }
  
      @media screen and (max-width: 480px) {
        font-size: 1rem;
      }
    }
  
    @for $i from 1 through 4 {
      li:nth-child(#{$i}).active ~ li:last-child::after {
        left: ($width * $i) - $width !important;
      }
    }
  
    @media screen and (max-width: 768px) {
      width: 500px
    }
  
    @media screen and (max-width: 480px) {
      width: 300px
    }
  }
}
