@import '../../../assets/styles/variables.scss';

.wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  z-index: 3;
	
	h1 {
		font-size: 3.5rem;

		@media screen and (max-width: 768px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 1.5rem;
    }

		span {
			color: $primary;
		}
	}
}
