@import '../../../assets/styles/variables.scss';

.project-card {
  width: 100%;
  position: relative;
  background: $light;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &.light {
    .overlay {
      background: $light;
      color: $dark;
    }
  }

  &.dark {
    .overlay {
      background: $dark;
      color: $light;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;

    span {
      transition: all 0.3s ease;
      transform: translateY(-50%);
      p {
        color: $primary;
        line-height: 1.3;
        margin-top: 0.5rem;
      }
    }

    button {
      width: 60%;
      margin: 0 auto;
      transform: translateY(100%);
    }

    &:hover {
      opacity: 1;

      span {
        transform: translateY(0);
      }

      button {
        transform: translateY(0);
      }
    }
  }
}