@import '../../../assets/styles/variables.scss';

.sidebar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;

  &.dark {
    background: $dark;

    .close {
      color: $light;
    }
  }

  &.light {
    background: $light;

    .close {
      color: $dark;
    }
  }

  &.open {
    transform: translateY(0);
    opacity: 1;
  }

  .close {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    font-size: 2rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}

.sidebar--navigations {
  display: flex;
  flex-direction: column;
}