@import '../../../assets/styles/variables.scss';

.theme-changer--wrapper {
  position: absolute;
  right: 1rem;
  top: 50%;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #d1d5da;
  transform: translateY(-50%);
  cursor: pointer;

  .slider {
    width: 2rem;
    height: 1rem;
    position: relative;

    .icon--wrapper {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      background: $dark;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -0.25rem;
      left: -0.25rem;
      font-size: 0.75rem;
      transition: all 0.5s ease;
    }
  }

  &.active {
    .icon--wrapper {
      transform: translateX(75%);
      background: $primary;
    }
  }
}