@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 16px;
}

.dark-bg {
  background-color: $dark-bg;
  color: $light;
}

.light-bg {
  background-color: $light-bg;
  color: $dark;
}
