*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

$primary: #892cdc;
$light: #f9f9f9;
$dark: #010606;
